cachetools==3.0.0
certifi==2023.7.22
chardet==3.0.4
google-auth==1.6.3
idna==2.8
# CSM 1.7 moved to Kubernetes 1.32, so use client v32.x to ensure compatability
kubernetes>=32.0.1,<33.0.0
oauthlib>=3.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.4.0
python-dateutil==2.8.2
PyYAML>=6.0
requests==2.23.0
requests-oauthlib==1.0.0
rsa==4.7.2
urllib3==1.25.11
websocket-client==0.54.0
